// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
li {
  list-style: none;
  margin: 10px 10px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: rgb(163, 163, 163);
}
